{% extends "layout.html" %}

{% block content %}

<div class="container">
    <form method="POST" enctype=multipart/form-data style="text-align: center; display: flex; flex-direction: column;" class="form-register">
        {{form.hidden_tag()}}

        {{form.username.label}}
        {{form.username(class="form-content", placeholer="Username")}}
        
        <br>
        {{form.password.label}}
        {{form.password(class="form-content", placeholer="Password")}}
        <br>
        {{form.login}}
    </form>
</div>
{% endblock %}